@import '../../static/style/index';
.login{
    background-color: $cloudRed;
    width: 100%;
    height: 100%;
    position: relative;
    .logo{
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        img{
            width: 50px;
        }
    }
    .loginWay{
        position: absolute;
        display: block;
        bottom: 30%;
        width: 100%;
        text-align: center;
        .loginWithPhone{
            background-color: white;
            width: 65%;
            font-size: 18px;
            margin: 0 auto;
            color: $cloudRed;
            height: 42px;
            line-height: 42px;
            border-radius: 20px;
        }
        .experience{
            // background-color: white;
            border: 0.5px solid rgba(245, 237, 237, 0.8);
            width: 65%;
            font-size: 18px;
            margin: 0 auto;
            margin-top: 20px;
            color: white;
            height: 42px;
            line-height: 42px;
            border-radius: 20px;
        }
    }
}