@import "../../../../static/style/index";
#funcNav{
  .container {
    padding-top: 12px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}
