.MaincContentBox{
  //background-color: aquamarine;
  width: 1200px;
  margin:0 auto;
  .funcName{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-shadow:-3px 3px 1px rgba(0,0,0,.3);;
    color: #666666;
    line-height: 40px;
  }
}
